body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Segoe UI", sans-serif;
  color: white;
}
.main-container {
  display: flex;
  flex-direction: row;
}
